*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: #000;
}

.text-color{
	color: #fff;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url(./images/pexels-forest.jpeg);
	background-size: cover;
	
}

.container-fluid{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav{
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;

}

.brand{
	font-size: 3 rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
	margin-left: 40px;
}

.brand span{
	color: rgb(45, 134, 45);
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li a{
	padding: 1 rem 0;
	margin: 1rem;
	position: relative;
	letter-spacing: 2px;
}

@keyframes slideIn{
	from{
	}
	to{
		transform: translateX(0);
	}
}

nav ul li a::before, nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}
nav ul li a:: before{
	top: 0;
	transform-origin: left;
}
nav ul li a:: after{
	bottom:0;
	transform-origin: right;
}

nav ul li a::hover::before, nav ul li a::hover::after{
	transform: scaleX(1);
}




.cool-link{
	background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.cool-link:hover, .cool-link:focus {
    background-size: 100% 2px;	
    color: rgb(45, 134, 45);
}



.center_title{
	font-size: 90px;
	font-family: gotham;
	font-weight: lighter;
	text-align: center; 
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-transform: uppercase;
}


section{
	width: 100%;
	background-color: #151515;
	position: relative;	
}
section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
	width: 100%;
}

.shadow{
	position: absolute;
	bottom: 100%;
	height: 150px;
	width: 100%;
	left: 0;
	z-index: 20;
	background: linear-gradient(to top, #151515, transparent);
}

.container{
	max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}


.content{
	color: #fff;

}

.imgContainer{
    transform: translateY(50px);
}	

.title{
	font-family: gotham;
	font-weight: lighter;
    font-size: 70px;
    margin-bottom: 1rem;
    padding-bottom: 20px;
   
    position: relative;
    text-align: center;
    margin-right: 50px;
}
.text{
	padding-right:100px;
	text-align: center;
	font-size: 14px;
	font-family: gotham;
	font-weight: lighter;

}



footer{
	width: 100%;
	background-color: #151515;
}

.container-footer-all{
	width: 100%;
	margin:auto;
}

.container-body-footer{
	display: flex;
	width: 100%;
}

.container-footer{
	margin-top: 5px;
	width: 100%;
	display: flex;
}
	

.row{
	text-align: center;
	color: #fff;
	font-size: 12px
	
}

.columns{
	float: left;
	margin: 20px;
}


.column1{
	
}
.column2{

}
.column3{

}

.information{
	text-align: right;
}/*??????????????????*/